

.font {
  font-family: 'EB Garamond', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sevillana', cursive;

}
.font1 {
  font-family: 'EB Garamond', serif;
}

